{% extends 'base.html.twig' %}

{% block title %}Feijoada Week{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    
<h1>Feijoada Week</h1>

<p>A primeira Feijoada Week foi um sucesso!</p>
<p>A segunda edição foi adiada devido ao coronga e assim que uma data for decidida, será informada.</p>
    
    {% for prato in pratos %}
        <h2>{{ prato.getNome|e }} - {{ prato.getRestaurante.getNome|e }} </h2>
        <h3>{{ prato.getData|date("d/m/Y") }}</h3>
        <p>{{ prato.getDescricao|raw }} </p>
        <p>{{ prato.getVideo|raw }} </p>
    {% endfor %}

    <h4>Visite também:</h4>
    <p><a href="https://abelaeobigode.com.br/2020/01/onde-comer-em-pipa/" target="_blank">Onde comer em Pipa</a></p>
    <p><a href="https://abelaeobigode.com.br/2020/02/onde-comer-em-olinda/" target="_blank">Onde comer em Olinda</p>
    
</div>
{% endblock %}
