{% extends 'base.html.twig' %}

{% block title %}Restaurante {{ restaurante.getNome|e }} :: Feijoada Week{% endblock %}

{% block body %}
  <!-- Page Header -->
  <header class="masthead" style="background-image: url('img/home-bg.jpg')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="site-heading">
            <h1>{{ restaurante.getNome|e }}</h1>
            <span class="subheading">{{ restaurante.getData|date("d/m/Y") }}</span>
          </div>
        </div>
      </div>
    </div>
  </header>

<!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">

    {% for prato in pratos %}
        <div class="post-preview">
            <h2 class="post-title">
              {{ prato.getNome|e }} - {{ prato.getRestaurante.getNome|e }}
            </h2>
            <p class="post-subtitle">
              {{ prato.getDescricao|raw }}
              <p>{{ prato.getVideo|raw }} </p>
              <p>{{ prato.getFoto|raw }} </p>
            </p>
          <p class="post-meta">Posted by
            <a href="#">Andrey</a>
            {{ prato.getData|date("d/m/Y") }}</p>
        </div>
        <hr>
    {% endfor %}

        <!-- Pager -->
        <div class="clearfix">
          <a class="btn btn-primary float-right" href="/">Voltar &rarr;</a>
        </div>
      </div>
    </div>
  </div>

  <hr>


{% endblock %}
